extends layout.pug

block content
  if session.username
      h3 hello #{session.username}
  else
      h3 Log in to your #{instanceUrl} account
      form(method="POST" action="/login")
          label(for='username') Username: 
          input(type='text', name='username')
          br
          br
          label(for='password') Password:
          input(type='password', name='password')
          br 
          br
          button(type='submit') Log In
        
