html
  head
    title= title
  body
    h1= message
    form(method="POST" action="/login")
        label Username: 
        input(type='text', name='username')
        label Password:
        input(type='password', name='password')
        button(type='submit') Log In
    
