html
  head
    title Pleroma Streaming- #{title}
  body
    h1 
        a(href='/') Pleroma Streaming
    h3
        a(href='/list') Channel list
    h3
        a(href='/me') My Channel
    block content
        
