[Unit]
Description=Pleroma-Livestreaming
After=network.target

[Service]
User=myuser
WorkingDirectory=/home/myuser/pleroma-livestreaming/src
ExecStart=/usr/bin/node index.js
ExecReload=/bin/kill $MAINPID
KillMode=process
Restart=on-failure

PrivateTmp=true
ProtectSystem=full
PrivateDevices=false
NoNewPrivileges=true
CapabilityBoundingSet=~CAP_SYS_ADMIN

[Install]
WantedBy=multi-user.target
